{% extends 'base.html' %}
{% block content %}
    <div id="toolbar">
        <div class="form-inline" role="form">
        </div>
    </div>
    <table data-toggle="table"
           data-height="700"
           data-toolbar="#toolbar"
           data-search="true">
        <thead>
        <tr style="display: none">
            <th data-sortable="true">Название</th>
            <th data-sortable="true">Ключей</th>
        </tr>
        </thead>
        <tbody>
        {% for center in centers %}
            <tr style="display: none">
                <td><a href="{% url 'cert_center:show_by_id' center.id %}">{{ center.name }}</a></td>
                <td>{{ center.digitalkey_set.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}