{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ cert_center.name }}</strong>
                    {% if cert_center.link %}
                        <a href="{{ cert_center.link }}" target="_blank">(сайт)</a>
                    {% endif %}

                    {#                    <a href="{% url 'cert_center:show_by_id' cert_center.id %}">#}
                    {#                        <span class="glyphicon glyphicon-pencil pull-right"></span>#}
                    {#                    </a>#}
                </div>
                <div class="panel-body">
                    {{ cert_center.description|linebreaks }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Требования:</div>
                <div class="panel-body">
                    <ul>
                        {% for requirement in requirements %}
                            <li>
                                <a href="{% url 'cert_center:show_req_by_id' requirement.id %}">{{ requirement.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Ключи:</div>
                <div class="panel-body">
                    <ul>
                        {% for view in keys %}
                            <li><a href="{% url 'digital_key:show_by_id' view.key.id %}">{{ view.key }}</a>
                                <span class="label label-{{ view.get_label_class }}">{{ view.key.date_expire|date:'d.m.y' }}</span>
                                {% if view.key.location %}
                                    <a href="{% url 'employee:show_group_by_id' view.key.location_id %}">
                                        <span class="label label-default">{{ view.key.location }}</span>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}