{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Основная информация:
                </div>
                <div class="panel-body">
                    <p><strong>{{ requirement.name }}</strong>
                        {% if requirement.actual_date %}
                            <small>от {{ requirement.actual_date }}</small>
                        {% endif %}
                        {% if requirement.link %}
                            <a href="{{ requirement.link }}" target="_blank">(ссылка)</a>
                        {% endif %}
                    </p>
                    <p><strong>Описание:</strong></p>
                    {{ requirement.description |linebreaks }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}