{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Контрагент:
                    <a href="{% url 'employee:edit_by_id' view.employee.id %}">
                        <span class="glyphicon glyphicon-pencil pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="rov">
                        <div class="col-md-4"><strong>{{ view.employee.name }}</strong></div>
                        <div class="col-md-8">{{ view.employee.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Контактные данные:
                </div>
                <div class="panel-body">
                    {% for detail in view.employee.get_contact_info %}
                        <p><strong>{{ detail.type }}:</strong> {{ detail }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Ключи:</div>
                <div class="panel-body">
                <p>Cert</p>
                    {% for key in view.cert_set %}
                        {{ key }} <br>
                    {% endfor %}
                <p>Hold</p>
                {% for key in view.key_set %}
                    {{ key }} <br>
                {% endfor %}
                <p>Group</p>
                {% for key in view.group_set %}
                    {{ key }} <br>
                {% endfor %}


{#                    {% for view in linked_keys %}#}
{#                        <p>#}
{#                            <a href="{% url 'digital_key:show_by_id' view.key.id %} ">{{ view.key.name }}</a>#}
{#                            <span class="label label-{{ view.style }}"> {{ view.key.expire|date:'Y-m-d' }}</span>#}
{#                            {% if view.is_holded %}<span class="label label-primary">Держатель</span>{% endif %}#}
{#                            {% if view.is_contacted %}<span class="label label-info">Контакт</span>{% endif %}#}
{#                        </p>#}
{#                    {% endfor %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}