{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Контрагент:
                    <a href="{% url 'employee:edit_by_id' employee.id %}">
                        <span class="glyphicon glyphicon-pencil pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="rov">
                        <div class="col-md-4"><strong>{{ employee.name }}</strong></div>
                        <div class="col-md-8">{{ employee.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Контактные данные:
                </div>
                <div class="panel-body">
                    {% for detail in employee.get_contact_info %}
                        <p><strong>{{ detail.type }}:</strong> {{ detail }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Группы:</div>
                <div class="panel-body">
                    <ul>
                        {% for group in groups %}
                            <li><a href="{% url 'employee:group_detail' group.id %}">{{ group }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Сертификаты:</div>
                <div class="panel-body">
                    <ol>
{#                        {% for view in wrp_cert_keys %}#}
{#                            <li>#}
{#                                <a href="{% url 'digital_key:show_by_id' view.key.id %}">{{ view.key }}</a>#}
{#                                <span class="label label-{{ view.get_label_class }}">{{ view.key.date_expire|date:'d.m.y' }}</span>#}
{#                                {% if view.key.location %}#}
{#                                    <span class="label label-default">{{ view.key.location }}</span>#}
{#                                {% endif %}#}
{#                                {% if view.key.copy_of %}#}
{#                                    <a class="label label-info" href="{% url 'digital_key:show_by_id' view.key.copy_of_id %}">#}
{#                                        копия</a>#}
{#                                {% endif %}#}
{#                            </li>#}
{#                        {% endfor %}#}
                        {% include 'digital_key/frag/key_views_list.html' %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}