{% extends 'base.html' %}
{% block content %}
{% comment %}    <div id="toolbar">
        <div class="form-inline" role="form">
            <a href="{% url 'employee:add' %}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>{% endcomment %}
    <table data-toggle="table"
           data-height="700"
           data-toolbar="#toolbar"
           data-search="true">
        <thead>
        <tr style="display:none;">
            <th data-sortable="true">Группа</th>
            <th data-sortable="true">Сотрудники</th>
            <th data-sortable="true">Ключи</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr style="display:none;">
                <td><a href="{% url 'employee:group_detail' group.id %}">{{ group.name }}</a></td>
                <td>{{ group.members.count }}</td>
                <td>{{ group.digitalkey_set.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}