{% extends 'base.html' %}
{% block content %}
{% comment %}    <div id="toolbar">
        <div class="form-inline" role="form">
            <a href="{% url 'employee:add' %}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>{% endcomment %}
    <table data-toggle="table"
           data-height="700"
           data-toolbar="#toolbar"
           data-search="true">
        <thead>
        <tr style="display:none;">
            <th data-sortable="true">Контрагент</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr style="display:none;">
                <td><a href="{% url 'employee:show_by_id' employee.id %}">{{ employee.name }}</a></td>
                <td>{{ employee.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}