.select-noarrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact-table {
  width: 100%;
}
.contact-table tr.removed {
  opacity: .5;
}
.contact-table td {
  padding: 5px;
}
.contact-table .btn:hover {
  color: red;
}
.contact-table input:checked + span {
  color: red;
}
