{% extends 'base.html' %}
{% block title %}Место хранения ключей{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Назначение: <strong>{{ assignment.name }}</strong>
                </div>
                <div class="panel-body">
                    {{ assignment.description|linebreaks }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Ключи:</div>
                <div class="panel-body">
                    <ul>
                        {% for view in key_views %}
                            <li><a href="{% url 'digital_key:show_by_id' view.key.id %}">{{ view.key }}</a>
                                <span class="label label-{{ view.get_label_class }}">{{ view.key.date_expire|date:'d.m.y' }}</span>
                                {% if view.key.location %}
                                    <span class="label label-default">{{ view.key.location }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}