{% extends 'base.html' %}
{% load extras static %}
{% block link %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="{% static 'styles/lib/bootstrap-select.min.css' %}">
{% endblock %}
{% block content %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'scripts/lib/bootstrap-select.min.js' %}"></script>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" name="keyId" value="2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Основная информация:
                        {% comment %}{% if digitalkey_form.get_id %}
                            <a id="btn-remove" href="{% url 'digital_key:remove_by_id' digitalkey_form.get_id %}">
                                <span class="glyphicon glyphicon-trash pull-right"></span>
                            </a>
                        {% endif %}{% endcomment %}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-horizontal">
                                    {% include 'digital_key/frag/key_form_inline.html' with field=digitalkey_form.name %}
                                    {% include 'digital_key/frag/key_form_inline.html' with field=digitalkey_form.serial %}
                                    {% include 'digital_key/frag/key_form_inline.html' with field=digitalkey_form.cert_num %}
                                    {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.type %}
                                    {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.cert_holder %}
                                    {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.cert_center %}
                                    {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.key_receiver %}
                                    {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.employee_group %}
                                    {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.location %}
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ digitalkey_form.assignment|label_with_classes:'control-label' }}
                                    {{ digitalkey_form.assignment|field_with_classes:'form-control selectpicker1' }}
                                </div>
                                <div class="form-group">
                                    {{ digitalkey_form.description|label_with_classes:'control-label' }}
                                    {{ digitalkey_form.description|field_with_classes:'form-control' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% comment %}          <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Дополнительная информация:</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.key_receiver %}
                            {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.employee_group %}
                            {% include 'digital_key/frag/key_form_select.html' with field=digitalkey_form.location %}
                        </div>
                    </div>
                </div>
            </div>{% endcomment %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Сроки действия:</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            {% include 'digital_key/frag/key_form_date.html' with field=digitalkey_form.date_begin %}
                            {% include 'digital_key/frag/key_form_date.html' with field=digitalkey_form.date_expire %}
                            {% include 'digital_key/frag/key_form_inline.html' with field=digitalkey_form.renewal_time %}
                            <hr>
                            {% include 'digital_key/frag/key_form_date.html' with field=digitalkey_form.date_checked %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-default" type="submit" value="Save">
                <a href="{% if digitalkey_form.get_id %}{% url 'digital_key:show_by_id' digitalkey_form.get_id %}
                {% else %}{% url 'digital_key:all' %}{% endif %}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
    <script>
        $(function () {

            $('.selectpicker1').selectpicker({
                style: 'btn-primary',
                size: 5,
                liveSearch: true
            });

            $("#holders, #contacts")
                .selectize({
                    valueField: 'id',
                    labelField: 'name',
                    searchField: 'name',
                    options: [],
                    create: false,
                    persist: false,
                    hideSelected: true,
                    render: {
                        option: function (item, escape) {
                            return '<div>' + escape(item.name) + '</div>';
                        }
                    },
                    load: function (query, callback) {
                        if (query.length < 3) return callback();
                        $.ajax({
                            url: '{% url 'employee:json_by_name' %}',
                            type: 'GET',
                            data: {
                                search: query
                            },
                            dataType: 'json',
                            error: function () {
                                callback();
                            },
                            success: function (res) {
                                console.log(res);
                                callback(res);
                            }
                        });
                    }
                });

            $('#btn-remove').click(function (e) {
                if (!confirm('Вы уверены что хотите удалить запись?')) {
                    e.preventDefault();
                }
            });
            var date_fields = $('.datepicker');

            {#            datefield.attr('placeholder', moment().format('YYYY-MM-DD'));#}
            date_fields.datetimepicker({
                locale: 'ru',
                {#                format: 'YYYY-MM-DD'#}
                format: 'DD.MM.YYYY'
            });
        });

    </script>
{% endblock content %}